@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  background-image: linear-gradient(
    180deg,
    
    rgb(102, 93, 231) 20.8%,
    rgb(102, 250, 218) 40%
    
  );
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 10;
}
h1{
  font-family: ;
  color: rgb(30, 27, 28);
}

.results {
  display: flex;
  min-height: 55vh;
  min-width: none;
  padding: auto;
  background-color: lightgoldenrodyellow;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.result {
  background-color:hwb(38 60% 30%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 400px;
  width: 300px;
}

.result img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.buttons {
  background-origin: padding-box;
  display: flex;
  border-color: brown;
  align-items: center;
  justify-content: center;
}

button {
  background-color: rgb(32, 168, 116);
  border: 0;
  border-color: brown;
  border-radius: 1000px;
  color: rgb(41, 9, 9);
  font-size: 30px;
  padding: 10px;
  margin: 60px;
  width: 150px;
}

button:active {
  border-color: black;
  flex-grow: inherit;
  background-clip: border-box;
  transform: scale(1.28);
}

button:focus {
  outline: none;
  border-color: black;
}
